:root {
    --vermelho:#E50914;
    --preta:#141414;
}
/*elementos base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preta);
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

header .logo {
    color: var(--vermelho);
    font-size: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/
.filme-principal {
    font-style: 16px;
    background:linear-gradient(rgba(0,0,0,.30), rgba(0,0,0,.30)100%), url('../img/capa-house.jpg');

    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-style: 40px;
}
